<Type Name="ByteArrayRelationalTypeMapper" FullName="Microsoft.EntityFrameworkCore.Storage.ByteArrayRelationalTypeMapper">
  <TypeSignature Language="C#" Value="public class ByteArrayRelationalTypeMapper : Microsoft.EntityFrameworkCore.Storage.IByteArrayRelationalTypeMapper" />
  <TypeSignature Language="ILAsm" Value=".class public auto ansi beforefieldinit ByteArrayRelationalTypeMapper extends System.Object implements class Microsoft.EntityFrameworkCore.Storage.IByteArrayRelationalTypeMapper" />
  <TypeSignature Language="DocId" Value="T:Microsoft.EntityFrameworkCore.Storage.ByteArrayRelationalTypeMapper" />
  <TypeSignature Language="VB.NET" Value="Public Class ByteArrayRelationalTypeMapper&#xA;Implements IByteArrayRelationalTypeMapper" />
  <TypeSignature Language="F#" Value="type ByteArrayRelationalTypeMapper = class&#xA;    interface IByteArrayRelationalTypeMapper" />
  <AssemblyInfo>
    <AssemblyName>Microsoft.EntityFrameworkCore.Relational</AssemblyName>
    <AssemblyVersion>1.0.0.0</AssemblyVersion>
    <AssemblyVersion>1.1.0.0</AssemblyVersion>
    <AssemblyVersion>2.0.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>System.Object</BaseTypeName>
  </Base>
  <Interfaces>
    <Interface>
      <InterfaceName>Microsoft.EntityFrameworkCore.Storage.IByteArrayRelationalTypeMapper</InterfaceName>
    </Interface>
  </Interfaces>
  <Docs>
    <summary>
      <para>
                    Determines the type mapping to use for byte array properties.
                </para>
      <para>
                    This type is typically used by database providers (and other extensions). It is generally
                    not used in application code.
                </para>
    </summary>
    <remarks>To be added.</remarks>
  </Docs>
  <Members>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public ByteArrayRelationalTypeMapper (int maxBoundedLength, Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping defaultMapping, Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping unboundedMapping, Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping keyMapping, Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping rowVersionMapping, Func&lt;int,Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping&gt; createBoundedMapping);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig specialname rtspecialname instance void .ctor(int32 maxBoundedLength, class Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping defaultMapping, class Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping unboundedMapping, class Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping keyMapping, class Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping rowVersionMapping, class System.Func`2&lt;int32, class Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping&gt; createBoundedMapping) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.EntityFrameworkCore.Storage.ByteArrayRelationalTypeMapper.#ctor(System.Int32,Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping,Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping,Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping,Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping,System.Func{System.Int32,Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping})" />
      <MemberSignature Language="VB.NET" Value="Public Sub New (maxBoundedLength As Integer, defaultMapping As RelationalTypeMapping, unboundedMapping As RelationalTypeMapping, keyMapping As RelationalTypeMapping, rowVersionMapping As RelationalTypeMapping, createBoundedMapping As Func(Of Integer, RelationalTypeMapping))" />
      <MemberSignature Language="F#" Value="new Microsoft.EntityFrameworkCore.Storage.ByteArrayRelationalTypeMapper : int * Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping * Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping * Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping * Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping * Func&lt;int, Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping&gt; -&gt; Microsoft.EntityFrameworkCore.Storage.ByteArrayRelationalTypeMapper" Usage="new Microsoft.EntityFrameworkCore.Storage.ByteArrayRelationalTypeMapper (maxBoundedLength, defaultMapping, unboundedMapping, keyMapping, rowVersionMapping, createBoundedMapping)" />
      <MemberType>Constructor</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.EntityFrameworkCore.Relational</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
        <AssemblyVersion>1.1.0.0</AssemblyVersion>
        <AssemblyVersion>2.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Parameters>
        <Parameter Name="maxBoundedLength" Type="System.Int32" />
        <Parameter Name="defaultMapping" Type="Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping" />
        <Parameter Name="unboundedMapping" Type="Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping" />
        <Parameter Name="keyMapping" Type="Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping" />
        <Parameter Name="rowVersionMapping" Type="Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping" />
        <Parameter Name="createBoundedMapping" Type="System.Func&lt;System.Int32,Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping&gt;" />
      </Parameters>
      <Docs>
        <param name="maxBoundedLength"> Maximum length of data that can be stored in a byte array property. </param>
        <param name="defaultMapping"> Default mapping to be used. </param>
        <param name="unboundedMapping"> Mapping to be used for properties with no length specified. </param>
        <param name="keyMapping"> Mapping to be used for key properties. </param>
        <param name="rowVersionMapping"> Mapping to be used for properties being used as a row version. </param>
        <param name="createBoundedMapping"> Function to create a mapping for a property with a given length. </param>
        <summary>
                Initialized a new instance of the <see cref="T:Microsoft.EntityFrameworkCore.Storage.ByteArrayRelationalTypeMapper" /> class.
            </summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="CreateBoundedMapping">
      <MemberSignature Language="C#" Value="public virtual Func&lt;int,Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping&gt; CreateBoundedMapping { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance class System.Func`2&lt;int32, class Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping&gt; CreateBoundedMapping" />
      <MemberSignature Language="DocId" Value="P:Microsoft.EntityFrameworkCore.Storage.ByteArrayRelationalTypeMapper.CreateBoundedMapping" />
      <MemberSignature Language="VB.NET" Value="Public Overridable ReadOnly Property CreateBoundedMapping As Func(Of Integer, RelationalTypeMapping)" />
      <MemberSignature Language="F#" Value="member this.CreateBoundedMapping : Func&lt;int, Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping&gt;" Usage="Microsoft.EntityFrameworkCore.Storage.ByteArrayRelationalTypeMapper.CreateBoundedMapping" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.EntityFrameworkCore.Relational</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
        <AssemblyVersion>1.1.0.0</AssemblyVersion>
        <AssemblyVersion>2.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Func&lt;System.Int32,Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping&gt;</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
                Gets a function to create a mapping for a property with a given length.
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="DefaultMapping">
      <MemberSignature Language="C#" Value="public virtual Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping DefaultMapping { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance class Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping DefaultMapping" />
      <MemberSignature Language="DocId" Value="P:Microsoft.EntityFrameworkCore.Storage.ByteArrayRelationalTypeMapper.DefaultMapping" />
      <MemberSignature Language="VB.NET" Value="Public Overridable ReadOnly Property DefaultMapping As RelationalTypeMapping" />
      <MemberSignature Language="F#" Value="member this.DefaultMapping : Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping" Usage="Microsoft.EntityFrameworkCore.Storage.ByteArrayRelationalTypeMapper.DefaultMapping" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.EntityFrameworkCore.Relational</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
        <AssemblyVersion>1.1.0.0</AssemblyVersion>
        <AssemblyVersion>2.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
                Gets the default mapping to be used.
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="FindMapping">
      <MemberSignature Language="C#" Value="public virtual Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping FindMapping (bool rowVersion, bool keyOrIndex, Nullable&lt;int&gt; size);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance class Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping FindMapping(bool rowVersion, bool keyOrIndex, valuetype System.Nullable`1&lt;int32&gt; size) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.EntityFrameworkCore.Storage.ByteArrayRelationalTypeMapper.FindMapping(System.Boolean,System.Boolean,System.Nullable{System.Int32})" />
      <MemberSignature Language="VB.NET" Value="Public Overridable Function FindMapping (rowVersion As Boolean, keyOrIndex As Boolean, size As Nullable(Of Integer)) As RelationalTypeMapping" />
      <MemberSignature Language="F#" Value="abstract member FindMapping : bool * bool * Nullable&lt;int&gt; -&gt; Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping&#xA;override this.FindMapping : bool * bool * Nullable&lt;int&gt; -&gt; Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping" Usage="byteArrayRelationalTypeMapper.FindMapping (rowVersion, keyOrIndex, size)" />
      <MemberType>Method</MemberType>
      <Implements>
        <InterfaceMember>M:Microsoft.EntityFrameworkCore.Storage.IByteArrayRelationalTypeMapper.FindMapping(System.Boolean,System.Boolean,System.Nullable{System.Int32})</InterfaceMember>
      </Implements>
      <AssemblyInfo>
        <AssemblyName>Microsoft.EntityFrameworkCore.Relational</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
        <AssemblyVersion>1.1.0.0</AssemblyVersion>
        <AssemblyVersion>2.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="rowVersion" Type="System.Boolean" />
        <Parameter Name="keyOrIndex" Type="System.Boolean" />
        <Parameter Name="size" Type="System.Nullable&lt;System.Int32&gt;" />
      </Parameters>
      <Docs>
        <param name="rowVersion">
                A value indicating whether the property is being used as a row version.
            </param>
        <param name="keyOrIndex">
                A value indicating whether the property is being used as a key and/or index.
            </param>
        <param name="size">
                The configured length of the property, or null if it is unbounded.
            </param>
        <summary>
                Gets the mapping for a property.
            </summary>
        <returns> The mapping to be used for the property. </returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="KeyMapping">
      <MemberSignature Language="C#" Value="public virtual Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping KeyMapping { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance class Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping KeyMapping" />
      <MemberSignature Language="DocId" Value="P:Microsoft.EntityFrameworkCore.Storage.ByteArrayRelationalTypeMapper.KeyMapping" />
      <MemberSignature Language="VB.NET" Value="Public Overridable ReadOnly Property KeyMapping As RelationalTypeMapping" />
      <MemberSignature Language="F#" Value="member this.KeyMapping : Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping" Usage="Microsoft.EntityFrameworkCore.Storage.ByteArrayRelationalTypeMapper.KeyMapping" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.EntityFrameworkCore.Relational</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
        <AssemblyVersion>1.1.0.0</AssemblyVersion>
        <AssemblyVersion>2.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
                Gets the mapping to be used for key properties
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="MaxBoundedLength">
      <MemberSignature Language="C#" Value="public virtual int MaxBoundedLength { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance int32 MaxBoundedLength" />
      <MemberSignature Language="DocId" Value="P:Microsoft.EntityFrameworkCore.Storage.ByteArrayRelationalTypeMapper.MaxBoundedLength" />
      <MemberSignature Language="VB.NET" Value="Public Overridable ReadOnly Property MaxBoundedLength As Integer" />
      <MemberSignature Language="F#" Value="member this.MaxBoundedLength : int" Usage="Microsoft.EntityFrameworkCore.Storage.ByteArrayRelationalTypeMapper.MaxBoundedLength" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.EntityFrameworkCore.Relational</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
        <AssemblyVersion>1.1.0.0</AssemblyVersion>
        <AssemblyVersion>2.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Int32</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
                Gets the maximum length of data that can be stored in a byte array property
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="RowVersionMapping">
      <MemberSignature Language="C#" Value="public virtual Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping RowVersionMapping { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance class Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping RowVersionMapping" />
      <MemberSignature Language="DocId" Value="P:Microsoft.EntityFrameworkCore.Storage.ByteArrayRelationalTypeMapper.RowVersionMapping" />
      <MemberSignature Language="VB.NET" Value="Public Overridable ReadOnly Property RowVersionMapping As RelationalTypeMapping" />
      <MemberSignature Language="F#" Value="member this.RowVersionMapping : Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping" Usage="Microsoft.EntityFrameworkCore.Storage.ByteArrayRelationalTypeMapper.RowVersionMapping" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.EntityFrameworkCore.Relational</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
        <AssemblyVersion>1.1.0.0</AssemblyVersion>
        <AssemblyVersion>2.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
                Gets the mapping to be used for properties being used as a row version.
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="UnboundedMapping">
      <MemberSignature Language="C#" Value="public virtual Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping UnboundedMapping { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance class Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping UnboundedMapping" />
      <MemberSignature Language="DocId" Value="P:Microsoft.EntityFrameworkCore.Storage.ByteArrayRelationalTypeMapper.UnboundedMapping" />
      <MemberSignature Language="VB.NET" Value="Public Overridable ReadOnly Property UnboundedMapping As RelationalTypeMapping" />
      <MemberSignature Language="F#" Value="member this.UnboundedMapping : Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping" Usage="Microsoft.EntityFrameworkCore.Storage.ByteArrayRelationalTypeMapper.UnboundedMapping" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.EntityFrameworkCore.Relational</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
        <AssemblyVersion>1.1.0.0</AssemblyVersion>
        <AssemblyVersion>2.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
                Gets the mapping to be used for properties with no length specified
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
  </Members>
</Type>