<Type Name="IByteArrayRelationalTypeMapper" FullName="Microsoft.EntityFrameworkCore.Storage.IByteArrayRelationalTypeMapper">
  <TypeSignature Language="C#" Value="public interface IByteArrayRelationalTypeMapper" />
  <TypeSignature Language="ILAsm" Value=".class public interface auto ansi abstract IByteArrayRelationalTypeMapper" />
  <TypeSignature Language="DocId" Value="T:Microsoft.EntityFrameworkCore.Storage.IByteArrayRelationalTypeMapper" />
  <TypeSignature Language="VB.NET" Value="Public Interface IByteArrayRelationalTypeMapper" />
  <TypeSignature Language="F#" Value="type IByteArrayRelationalTypeMapper = interface" />
  <AssemblyInfo>
    <AssemblyName>Microsoft.EntityFrameworkCore.Relational</AssemblyName>
    <AssemblyVersion>1.0.0.0</AssemblyVersion>
    <AssemblyVersion>1.0.6.0</AssemblyVersion>
    <AssemblyVersion>1.1.0.0</AssemblyVersion>
    <AssemblyVersion>2.0.0.0</AssemblyVersion>
    <AssemblyVersion>2.1.0.0</AssemblyVersion>
    <AssemblyVersion>2.2.6.0</AssemblyVersion>
  </AssemblyInfo>
  <Interfaces />
  <Attributes>
    <Attribute FrameworkAlternate="efcore-2.1;efcore-2.2">
      <AttributeName>System.Obsolete("Use IRelationalTypeMappingSource.")</AttributeName>
    </Attribute>
  </Attributes>
  <Docs>
    <summary>
      <para>
                    Determines the type mapping to use for byte array properties.
                </para>
      <para>
                    This type is typically used by database providers (and other extensions). It is generally
                    not used in application code.
                </para>
    </summary>
    <remarks>To be added.</remarks>
  </Docs>
  <Members>
    <Member MemberName="FindMapping">
      <MemberSignature Language="C#" Value="public Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping FindMapping (bool rowVersion, bool keyOrIndex, Nullable&lt;int&gt; size);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance class Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping FindMapping(bool rowVersion, bool keyOrIndex, valuetype System.Nullable`1&lt;int32&gt; size) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.EntityFrameworkCore.Storage.IByteArrayRelationalTypeMapper.FindMapping(System.Boolean,System.Boolean,System.Nullable{System.Int32})" />
      <MemberSignature Language="VB.NET" Value="Public Function FindMapping (rowVersion As Boolean, keyOrIndex As Boolean, size As Nullable(Of Integer)) As RelationalTypeMapping" />
      <MemberSignature Language="F#" Value="abstract member FindMapping : bool * bool * Nullable&lt;int&gt; -&gt; Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping" Usage="iByteArrayRelationalTypeMapper.FindMapping (rowVersion, keyOrIndex, size)" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.EntityFrameworkCore.Relational</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
        <AssemblyVersion>1.0.6.0</AssemblyVersion>
        <AssemblyVersion>1.1.0.0</AssemblyVersion>
        <AssemblyVersion>2.0.0.0</AssemblyVersion>
        <AssemblyVersion>2.1.0.0</AssemblyVersion>
        <AssemblyVersion>2.2.6.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="rowVersion" Type="System.Boolean" />
        <Parameter Name="keyOrIndex" Type="System.Boolean" />
        <Parameter Name="size" Type="System.Nullable&lt;System.Int32&gt;" />
      </Parameters>
      <Docs>
        <param name="rowVersion">
                A value indicating whether the property is being used as a row version.
            </param>
        <param name="keyOrIndex">
                A value indicating whether the property is being used as a key and/or index.
            </param>
        <param name="size">
                The configured length of the property, or null if it is unbounded.
            </param>
        <summary>
                Gets the mapping for a property.
            </summary>
        <returns> The mapping to be used for the property. </returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
  </Members>
</Type>
