<Type Name="IStringRelationalTypeMapper" FullName="Microsoft.EntityFrameworkCore.Storage.IStringRelationalTypeMapper">
  <TypeSignature Language="C#" Value="public interface IStringRelationalTypeMapper" />
  <TypeSignature Language="ILAsm" Value=".class public interface auto ansi abstract IStringRelationalTypeMapper" />
  <TypeSignature Language="DocId" Value="T:Microsoft.EntityFrameworkCore.Storage.IStringRelationalTypeMapper" />
  <TypeSignature Language="VB.NET" Value="Public Interface IStringRelationalTypeMapper" />
  <TypeSignature Language="F#" Value="type IStringRelationalTypeMapper = interface" />
  <AssemblyInfo>
    <AssemblyName>Microsoft.EntityFrameworkCore.Relational</AssemblyName>
    <AssemblyVersion>1.0.0.0</AssemblyVersion>
    <AssemblyVersion>1.0.6.0</AssemblyVersion>
    <AssemblyVersion>1.1.0.0</AssemblyVersion>
    <AssemblyVersion>1.1.6.0</AssemblyVersion>
    <AssemblyVersion>2.0.0.0</AssemblyVersion>
    <AssemblyVersion>2.0.3.0</AssemblyVersion>
    <AssemblyVersion>2.1.0.0</AssemblyVersion>
    <AssemblyVersion>2.1.11.0</AssemblyVersion>
    <AssemblyVersion>2.2.6.0</AssemblyVersion>
  </AssemblyInfo>
  <Interfaces />
  <Attributes>
    <Attribute FrameworkAlternate="efcore-2.1;efcore-2.2">
      <AttributeName>System.Obsolete("Use IRelationalTypeMappingSource.")</AttributeName>
    </Attribute>
  </Attributes>
  <Docs>
    <summary>
      <para>
                    Maps string property types to their corresponding relational database types.
                </para>
      <para>
                    This type is typically used by database providers (and other extensions). It is generally
                    not used in application code.
                </para>
    </summary>
    <remarks>To be added.</remarks>
  </Docs>
  <Members>
    <Member MemberName="FindMapping">
      <MemberSignature Language="C#" Value="public Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping FindMapping (bool unicode, bool keyOrIndex, Nullable&lt;int&gt; maxLength);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance class Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping FindMapping(bool unicode, bool keyOrIndex, valuetype System.Nullable`1&lt;int32&gt; maxLength) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.EntityFrameworkCore.Storage.IStringRelationalTypeMapper.FindMapping(System.Boolean,System.Boolean,System.Nullable{System.Int32})" />
      <MemberSignature Language="VB.NET" Value="Public Function FindMapping (unicode As Boolean, keyOrIndex As Boolean, maxLength As Nullable(Of Integer)) As RelationalTypeMapping" />
      <MemberSignature Language="F#" Value="abstract member FindMapping : bool * bool * Nullable&lt;int&gt; -&gt; Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping" Usage="iStringRelationalTypeMapper.FindMapping (unicode, keyOrIndex, maxLength)" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.EntityFrameworkCore.Relational</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
        <AssemblyVersion>1.0.6.0</AssemblyVersion>
        <AssemblyVersion>1.1.0.0</AssemblyVersion>
        <AssemblyVersion>1.1.6.0</AssemblyVersion>
        <AssemblyVersion>2.0.0.0</AssemblyVersion>
        <AssemblyVersion>2.0.3.0</AssemblyVersion>
        <AssemblyVersion>2.1.0.0</AssemblyVersion>
        <AssemblyVersion>2.1.11.0</AssemblyVersion>
        <AssemblyVersion>2.2.6.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="unicode" Type="System.Boolean" />
        <Parameter Name="keyOrIndex" Type="System.Boolean" />
        <Parameter Name="maxLength" Type="System.Nullable&lt;System.Int32&gt;" />
      </Parameters>
      <Docs>
        <param name="unicode"> A value indicating whether the property should handle Unicode data or not. </param>
        <param name="keyOrIndex"> A value indicating whether the property is part of a key or not. </param>
        <param name="maxLength"> The maximum length of data the property is configured to store, or null if no maximum is configured. </param>
        <summary>
                Gets the relational database type for a string property.
            </summary>
        <returns> The type mapping to be used. </returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
  </Members>
</Type>
